html {
	background-color: #2b7963;
	scroll-behavior: smooth;
}

main {
	background-color: #2373e2;
	color: #ffffff;
	font-family: "Oswald", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: Rubik Doodle Shadow;
    text-transform: uppercase;
	font-size: 60px;
	font-weight: 400;
}

p {
    width: 95%;
    text-align: center;
}

#navbar {
	background-color: #00ACEB;
	font-family: "Oswald", sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	position: fixed;
	width: 100%;
	height: 86px;
	top: 0;
	left: 0;
	box-shadow: 0px 1px 10px 1px #080c12;
}

#navbar ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	margin-right: 50px;
}

#navbar li {
	padding: 25px;
	margin-top: -24px;
}

#navbar li:hover {
	background-color: #aef5ef;
}

#navbar a {
	color: #000;
}


#welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 50px;
}

#welcome a {
	font-family: "Oswald";
	font-size: 65px;
	color: #a5bcd9;
}

#welcome a:hover {
	font-weight: 1000;
	color: #aed75b;
}

#welcome p {
    font-size: 10px;
	vertical-align: bottom;
}

.welcome-background {
	background-image: url(grandturk.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

#experience {
	padding-top: 50px;
	padding-bottom: 70px;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}


#box {
    padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
    margin-bottom: 1em;
	width: 200%;
    margin-left: -200px;
    margin-right: -800px;
    background-color: #5396c0;
	box-shadow: 0px 5px 10px 2px #080c12;
	border-radius: 10px;
}

#box h2{
    margin-left: 20px;
    text-align: left;
}

#box h3{
	margin-top: -10px;
    margin-left: 20px;
    text-align: left;
}

#box p {
	margin-top: -10px;
    margin-left: 20px;
	font-size: 15;
    text-align: left;
}

#box li {
	text-align: left;
}

#projects {
	background-color: #00A698;
	color: #ffffff;
	text-align: center;
	padding-top: 50px;
	width: 100%;
}

#projects p {
    text-align: center;
    margin-top: -20px;
    margin-left: 20;
}

#projects figure {
    margin-top: -20px;
    padding-bottom: 50px;
}

#projects img {
	margin: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #080c12;
	box-shadow: 0px 2px 7px 1px #080c12;
	max-width: 100%;
	height: auto;
}

.projects-grid {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
}


#about {
	background-color: #5396c0;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 70px;
	width: 100%;
}

#about li {
    padding-top: 1em;
    font-size: 22px;
}

#about-image {
	width: 300;
	height: 175;
	border-color: #00A698;
	border-radius: 10px;
	border-width: 3px;
	border-style: solid;
	box-shadow: 0px 5px 10px 2px #080c12;
	margin-top: -10px;
	margin-bottom: 10px;
}

#contact {
	padding-top: 50px;
	padding-bottom: 70px;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}

#contact h3 {
	padding-bottom: 1em;
}

#contact a {
	color: #ffffff;
}

#contact a:hover {
	font-weight: 500;
	color: #aef5ef;
}

.contact-grid {
	background-color: #00A698;
	display: grid;
	grid-template-columns: auto auto auto auto;
	text-align: center;
	justify-content: space-evenly;
	margin: auto;
	box-shadow: 0px 5px 10px 2px #080c12;
	border-radius: 10px;
}

footer {
	background-color: #080c12;
	color: #dbe4f0;
	font-size: 12px;
	font-family: "Oswald", sans-serif;
	padding: 10px;
}

footer p {
	padding-left: 10px;
}

footer img {
	width: 30px;
	height: 30px;
}

@media (max-width: 600px) {
	#navbar {
		font-size: 15px;
		height: 50px;
	}
	#navbar li {
		height:9px;
	}
	.gallery-grid {
		grid-template-columns: auto;
	}
	.contact-grid {
		grid-template-columns: auto auto;
		margin-left: 50px;
		margin-right: 50px;
	}
}

@media (max-width: 500px) {
	#navbar {
		height: 200px;
		width: 92px;
	}
	#navbar ul {
		display: grid;
		grid-template-columns: auto;
		height: auto;
	}
	#progress-table {
		width: 90%;
		margin: auto;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 110%;
	}
}